<ion-header>
  <ion-toolbar>
    <ion-title>
      Brands
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ng-container *ngIf="brands.length; else noData">
    <ion-list>
      <ion-item button [routerLink]="'/models/'+brand.id" *ngFor="let brand of brands">
        <ion-avatar slot="start">
          <img [src]="brand.logo">
        </ion-avatar>
        <ion-label>
          {{brand.label}}
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
  <ng-template #noData>
      <app-no-data></app-no-data>
    <!-- <p>No Data Exist</p> -->
  </ng-template>
</ion-content>